<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
        background: skyblue;
        font-family: verdana;
        color: #fff;
        padding: 30px;
          }
      h1{
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
      }
      p{
        font-size: 16px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Contct US</h1>
    <p>
      COntact coolese crap right here
    </p>
    <p>
      <%= qs.dept %>
    </p>
    <p>
      <%= qs.name %>
    </p>

    <form id="contact-form">
      <label for="who">Who do you  wan tto contact?</label>
      <input type="text" name="who" value="<%= qs.name %>" />
      <label for="department">Department ?</label>
      <input type="text" name="department" value="<%= qs.dept %>"/>
      <label for="email">Email ?</label>
      <input type="email" name="email" />
      <input type="submit" name="submit" />
    </form>
  </body>
</html>
